<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace 保证唯一 我这里填写的是映射类的名字 xml文件名和映射类的名字是一样的-->
<mapper namespace="com.anteater.fengfang.mapper.ActivityMapper">

    <insert id="addActivity" useGeneratedKeys="true" keyProperty="id" parameterType="com.anteater.fengfang.domains.Activity">
        insert into activity (title,content,startDate,endDate,owner,company) values (#{title},#{content},#{startDate},#{endDate},#{owner},#{company})
    </insert>
    <update id="updateActivity">
        update activity a set a.title= #{title} , a.content = #{content}, a.startDate = #{startDate} ,a.endDate=#{endDate} ,a.company =#{company} where a.id=#{id}
    </update>
    <delete id="deleteActivityById">
        delete from activity a where a.id = #{id}
    </delete>
    <select id="getActivityByCompany" resultType="com.anteater.fengfang.domains.Activity">
        select * from activity where company = #{company} or company= 'admin'
    </select>


</mapper>